Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^lecturebank.org [NC]
RewriteRule ^(.*)$ http://www.lecturebank.org/$1 [L,R=301]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^search\/?$ ./supersearch.php
RewriteRule ^search/([^/]+)$ ./supersearch.php?query=$1 [last]
RewriteRule ^events\/?$ ./show-events.php

RewriteRule ^(\w+)/talks/([^/]+)\/?$ ./showlecture.php?user=$1&lecture=$2
RewriteRule ^(\w+)/research/([^/]+)\/?$ ./showresearch.php?user=$1&research=$2
RewriteRule ^(\w+)\/?$ ./profile.php?user=$1
